src/main/mule/arithmetic-cicd-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="ab46915c-904a-443c-9408-ba914115ebb2" >
		<http:listener-connection host="0.0.0.0" port="${http.listener.port}" />
	</http:listener-config>
	<configuration-properties doc:name="Configuration properties" doc:id="b7dd81de-d0be-4d86-82eb-d1dc3ce94f8c" file="application.properties" />
	<flow name="arithmetic-cicd-apiFlow" doc:id="04ddd731-6161-4a05-ba09-c0906a73b38c" >
		<http:listener doc:name="Listener" doc:id="fd1b06d2-0720-41d8-8f71-262b67d3068d" config-ref="HTTP_Listener_config" path="/cicd"/>
		<logger level="INFO" doc:name="Logger" doc:id="f268277d-3e1b-4222-b274-98fcd95ba324" message="------------------Arithmetic operation is invoked------------------"/>
		<set-variable value="#[attributes.queryParams.num1]" doc:name="num1" doc:id="3eca41f0-43f5-48e0-b345-3c8045fcc589" variableName="num1"/>
		<set-variable value="#[attributes.queryParams.num2]" doc:name="num2" doc:id="58b56c84-78fe-4eec-a05a-95fd7d66ae05" variableName="num2"/>
		<ee:transform doc:name="Transform Message" doc:id="8bb4db4b-62c7-47ec-a0a4-a1b288094107" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	message: p('log.message'),
	Addition: (vars.num1 as Number + vars.num2 as Number),
	Subraction: (vars.num1 as Number - vars.num2 as Number),
	Multiplication: (vars.num1 as Number * vars.num2 as Number),
	Division: (vars.num1 as Number / vars.num2 as Number),
	EndMessage: "The API is succesfully running without error"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="914e4065-e8bc-4e80-bf86-2c82a5bf9b1b" message="------------------Successfully implemented Arithmetic API------------------"/>
	</flow>
</mule>
